 {% if (authors)  %}
 <table border="1">
    <thead>
        <tr>
            <th>id</th>
            <th>picture</th>
            <th>email</th>
            <th>username</th>
            <th>nombre books</th>
        </tr>
    </thead>
    <tbody>
       {% for author in authors  %}
            <tr>
                <td>{{author.id}}</td>
           <td>  <img width="100px" src="{{ asset(author.picture) }}" > </td>
               <td> {{author.email}}</td>
               <td> {{author.username | upper }}</td>
               <td> {{author.nb_books}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% else %} 
<h1> Le tableau est vide  </h1>
{% endif %}
